<!DOCTYPE html>
<html>

<head>
    <title>Flask Stock Visualizer</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href={{ url_for('static', filename='./bower_components/bootstrap/dist/css/bootstrap.min.css') }} rel="stylesheet"
        media="screen">
    <link href={{ url_for('static', filename='main.css') }} rel="stylesheet" media="screen">

    <style>
        /* set the CSS */

        body {
            font: 12px Arial;
        }

        path {
            stroke: steelblue;
            stroke-width: 2;
            fill: none;
        }

        .axis path,
        .axis line {
            fill: none;
            stroke: grey;
            stroke-width: 1;
            shape-rendering: crispEdges;
        }
    </style>

    <script src="https://d3js.org/d3-axis.v1.min.js"></script>
</head>


<body>
    <h1 align="center">Yield Curve</h1>
    <button onclick="forecastCurve()" align="center">Forecast</button>
    <svg></svg>
    <script src={{ url_for('static', filename='./bower_components/jquery/dist/jquery.min.js') }}></script>
    <script src={{ url_for('static', filename='./bower_components/bootstrap/dist/js/bootstrap.min.js') }}></script>
    <script src={{ url_for('static', filename='./bower_components/d3/d3.min.js') }}></script>
    <script src={{ url_for('static', filename='main.js') }}></script>
</body>

</html>